<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.teamoneit.warn.mapper.WarnMapper">
    <select id="getWarnList" parameterType="com.teamoneit.warn.entity.WarnParam" resultType="com.teamoneit.warn.entity.WarnResult">
        select distinct w.id, s.source_id, s.full_name source_name, s.town_code, s.town_name, cp.acquisition_brand,
        c.construction_unit, c.construction_status,
        w.warn_type, w.warn_level, l.dict_label warn_level_name,
        w.proc_state, p.dict_label proc_state_name, w.start_date, w.end_date, w.warn_desc
        from dat_warnmsgheads w
        left join dat_warnmsgdetails d on d.head_id = w.id and d.is_deleted = 0
        left join bas_checkpoint_element ce on ce.cp_elem_id = d.cp_elem_id and ce.is_deleted = 0
        left join bas_checkpoint cp on cp.collect_id = ce.collect_id and cp.is_deleted = 0
        inner join basecenter.pf_bas_source s on s.source_id = w.source_id and s.is_deleted = 0
        inner join basecenter.pf_bas_constructioninfo c on c.pf_source_id = s.source_id and c.is_deleted = 0
        left join basecenter.sys_dict_data l on l.dict_value = w.warn_level and l.dict_type = 'ty_warn_level'
        left join basecenter.sys_dict_data p on p.dict_value = w.proc_state and p.dict_type = 'ty_proc_state'
        where w.is_deleted = 0 and c.tag_head_id = #{param.tagHeadId}
<!--        <if test="sourceId != null">-->
<!--            and s.source_id = #{sourceId}-->
<!--        </if>-->
<!--        <if test="sourceName != null">-->
<!--            and s.full_name like '%' || #{sourceName} || '%'-->
<!--        </if>-->
<!--        <if test="townCode != null">-->
<!--            and s.town_code = #{townCode}-->
<!--        </if>-->
<!--        <if test="acquisitionBrand != null">-->
<!--            and cp.acquisition_brand like '%' || #{acquisitionBrand} || '%'-->
<!--        </if>-->
<!--        <if test="constructionUnit != null">-->
<!--            and c.construction_unit like '%' || #{constructionUnit} || '%'-->
<!--        </if>-->
<!--        <if test="constructionStatus != null">-->
<!--            and c.construction_status = #{constructionStatus}-->
<!--        </if>-->
<!--        <if test="warnType != null">-->
<!--            and w.warn_type = #{warnType}-->
<!--        </if>-->
<!--        <if test="warnLevel != null">-->
<!--            and w.warn_level = #{warnLevel}-->
<!--        </if>-->
<!--        <if test="procState != null">-->
<!--            and w.proc_state = #{procState}-->
<!--        </if>-->
<!--        <if test="procStates != null and procStates.size() > 0">-->
<!--            and w.proc_state in-->
<!--            <foreach collection="procStates" item="procState" open="(" separator="," close=")">-->
<!--                #{procState}-->
<!--            </foreach>-->
<!--        </if>-->
<!--        <if test="startDate != null and endDate != null">-->
<!--            and w.start_date >= #{startDate} and w.start_date &lt; #{endDate}-->
<!--        </if>-->
    </select>
</mapper>